services:
  fika-server:
    image: ghcr.io/zhliau/fika-spt-server-docker:latest
    ports:
      - 6969:6969
    environment:
      # Provide the uid/gid of the user, or it will default to 0 (root)
      - UID=1000
      - GID=1000
      # If you want to auto-install Fika on an existing Fika-less SPT Server install, set this to true.
      # Will do nothing if your serverfiles mount already has a fika-server dir in user/mods/
      - INSTALL_FIKA=true
      # If you want the container to update SPT automatically if it detects the SPT server version does not match expected version, set this to true
      - AUTO_UPDATE_SPT=true
      # If you want the container to update Fika automatically if it detects the Fika server version does not match expected version, set this to true
      - AUTO_UPDATE_FIKA=true
      # If you don't want the container to change the file ownership of your server files, set this to false
      - TAKE_OWNERSHIP=true
      # If you don't want to automatically back up profiles, set this to false
      - ENABLE_PROFILE_BACKUPS=true
      # If you don't want to automatically change the SPT server IPs to allow it to listen on all interfaces, set this to false.
      - LISTEN_ALL_NETWORKS=true
      # If you want to override the timezone. See https://en.wikipedia.org/wiki/List_of_tz_database_time_zones for a list of valid TZ codes
      # - TZ=US/Eastern
      # If you want to override the SPT version for this container, set this variable to the version string
      # The version should follow the release archive name format <SPT_VERSION>-<EFT_BUILD_NUMBER>-<SPT_GIT_SHA>
      # user folder backups will be disabled
      # - FORCE_SPT_VERSION=4.0.2-40087-0df4ae7
    #

    volumes:
      # Set this to the directory on your host containing either your existing SPT server files or where you wish to store a new SPT server install
      - ./server:/opt/server
      # If you want to match the host system timezone
      # - /etc/timezone:/etc/timezone:ro
